body {
    background-color: black;
}
main {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main p, .footer div {
    color: gainsboro;
}

.myClass {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: dimgray;
}
.header {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: darkcyan;
    margin: auto;
    text-align: center;
}
.footer {
    text-align: center;
    margin: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer h5 {
    background-color: #388e3c;
}

#why-not-windows {
    color: wheat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#windows-update-pain {
    color: darkorange;
}

#word-apt {
    color: darkgreen;
}
#word-mint {
    color: #388e3c;
}

#flask-data-div {
    width: 500px;
    height: 250px;
    margin: 50px auto;
    outline: solid 1px dimgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
#flask-data-form input,
#flask-data-form button {
    margin-bottom: 10px;  /* Add spacing between inputs */
}